<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944995172940-ap061cucb109ibl8a80e8jp3amnsmijj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944995172940-ap061cucb109ibl8a80e8jp3amnsmijj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944995172940-kpaht22hbs5i3cfjshtkn868o2trqii8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATJDB4WdY_agGPC_J1xltDG0AXLqMyRcs</string>
	<key>GCM_SENDER_ID</key>
	<string>944995172940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nocap</string>
	<key>PROJECT_ID</key>
	<string>nocap-cec02</string>
	<key>STORAGE_BUCKET</key>
	<string>nocap-cec02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944995172940:ios:290be447eb78c6c3312ae9</string>
</dict>
</plist>